<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="nav-items">
        | <a class="nav-item" href="{{ site.baseurl }}/">Home</a> |
        <a class="nav-item" href="{{ site.baseurl }}/call">Call for
          participation</a> |
        <a class="nav-item" href="{{ site.baseurl }}/program">Program</a> |
        <a class="nav-item" href="{{ site.baseurl }}/organisers">Organisers</a>
        |
        <!-- <a class="nav-item" href="{{ site.baseurl }}/manifestos">Manifestos</a> | -->
      </div>
    </nav>
  </div>
</header>